body {
    font-family: Arial;
    background: #8B9EAA;
}

.close{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.modal-content {
    position: absolute; /* 또는 다른 적절한 position 값 설정 */
    top: 30%; /* 원하는 top 값으로 수정 */   
    left: 13%;
    transform: translateY(-50%); /* 세로 중앙 정렬을 위한 추가 설정 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    display: flex; 
    height: 850px;
    flex-direction: column;
}

.modalMain{
	display: flex;
}

.form {
    display: flex;
    flex-wrap: wrap;
    font-family: Arial;
    width: 100%; /* 추가: flex item을 100%로 설정하여 flex 컨테이너 내에서 나란히 표시 */
}

.userImg {
	margin-top: 50px;
	margin-left: 40px;
    width: 20%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input[type="file"]::-webkit-file-upload-button {
     background-color: #fff;
     color: black;
     padding: 8px 20px;
     cursor: pointer;
     border-radius: 5px;
     font-size: 16px;
     transition: background-color 0.3s ease;
}

.getImg{
      background-color: #8B9EAA;
      color: #fff;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      transition: background-color 0.3s ease;
}

.getImg:hover {
      background-color: #2980b9;
}

.getImg{
	margin-top: 60px;
}

.left{
    margin-left: 80px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right {
    margin-left: 70px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-group,
.form-group2 {
    margin-bottom: 7px;
    width: 100%;
    height: 80px;
}

.form-group label,
.form-group2 label {
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group2 input,
.form-group select,
.form-group2 select {
    width: calc(100% - 10px); /* 수정: 입력 요소 너비에서 여백을 뺀 값으로 설정 */
    height: 35px;
    padding: 8px;
    box-sizing: border-box;
}

.sub-btn{
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.id-sec{
	display: flex;
	
}

.checkId {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
}

.btn-primary {
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #1976D2;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.close-btn{
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.btn-close{
	margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: gray;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.error-message {
    display: block; /* 에러 메시지를 블록 요소로 만들어 줄 바꿈 효과를 줍니다. */
    color: red; /* 에러 메시지의 색상을 빨간색으로 지정합니다. */
    margin-top: 5px; /* 입력 필드와 에러 메시지 사이의 간격을 조정합니다. */
    font-size: 12px;
    height: 20px;
    width: 100%;
}