@charset "UTF-8";

body{
    margin-top: 80px;
 	font-family: Arial;
    background: #BACDDB;
}

p{
	margin-left: 30px;
}

.search-sec{
    margin-top: 50px;
	height: 170px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    align-items: center;
    margin-left: 21.5%;
    width: 73%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.search-form{
	width: 100%;
}

.search-title{
	margin-left: 150px;
	margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: left;
}

.title{
	margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: left;
}

.mini-title{
	width: 90px;
}

select {
    margin-right: 60px;
    width: 160px;
    height: 35px;
}

.search-box{
	align-items: center;
}

.search-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left: 130px;
}

.search-item1{
    display: flex;
    align-items: center;
}

.start{
    display: flex;
    align-items: center;
}

.search-item-skill{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.search-item-skill label{
	margin-left: 15px;
	margin-right: 10px;
}

#searchProName{
    width: 160px;
    height: 35px;
}

input[type="date"] {
    width: 160px;
    height: 35px;
}

.search-submit{
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #5F9EA0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

button#resetBtn {
    margin-left: 50px;
    width: 150px;
    height: 30px;
    background: #BDBDBD;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 90px;
}

input[type="submit"]{
	width:150px;
	height: 30px;
	margin-left: 300px;
	letter-spacing: 7px;
}

input[type="button"]{
	width:150px;
	height: 30px;
	margin-left: 100px;
}

.search-reset{
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #5F9EA0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;

}

.reset{
	float: right;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #5F9EA0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.search-box p.mini-title{
    margin-right: 20px; /* 요소들 사이의 간격 */
}


.info-sec{
    margin-top: 10px;
    margin-left: 21.5%;
    width: 73%;
    min-height: 565px;
    max-height: fit-content;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white; 

}

.table th, .table td {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ddd; 
}

.table th {
	letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    font-size: 13px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.table td {
    color: #666; 
}

.main th, .main td {
    text-align: center;
    border-bottom: 1px solid #ddd; 
}

.main tr {
    background-color: #FAFAFA; /* 연한 회색 배경 */
    height: 71px;
}

.main tr:hover {
    background-color: #E3EAF2; /* 마우스 오버 시 배경색 변경 */
}

.main th {
	margin-top: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	line-height: 1.5em;
}

.main td {
    color: #666; 
}

.user-modify{
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #5F9EA0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 120px;
    height: 30px;
}


.add-delete-pro{
	margin-top: 15px;
    width: 400px;
    display: flex;
    justify-content: space-between;
	
}

.add-delete-pro button{
    width: 120px;
    height: 30px;
    margin-left: 20px;
    letter-spacing: 7px;
}

.add-pro{
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #1976D2;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.pro-delete{
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #EF5350;
    color: white;
    font-size: 15px;
    cursor: pointer;
}



/* 모달창 */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 70%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#fileInput{
    visibility: hidden;
}

.block{
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    color: red;
    font-size: 15px;
}

.input-group-append{
    display: flex;
}

span.input-group-text {
    width: 50px;
    display: flex;
    align-items: center;
}

.skill{
    margin-right: 12px;
    padding-bottom: 5px;
}

.form-group3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.modalMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left, .right {
    flex-basis: 40%; /* 왼쪽과 오른쪽 컨텐츠가 각각 전체의 48% 차지 */
    padding: 10px;
}

.form-group, .form-group2, .form-group3 {
    display: flex;
    height: 70px;
    margin-bottom: 15px;
    flex-direction: column;
}

.form-group label, .form-group2 label, .form-group3 label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group4 label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group4{
    height: 350px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group4::-webkit-scrollbar {
    width: 8px;
}

.form-group4::-webkit-scrollbar-thumb {
    background-color: rgba(248, 249, 250, 0.59);
    border-radius: 10px;
}

.form-group4::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.note{
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    resize: none;
    font-size: 18px;
}

.input-count{
    display: flex;
    width:400px;
    justify-content: flex-end;
}

.form-control {
    width: 65%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    height: 35px;
}

.sub-btn {
    display: flex;
    justify-content: flex-end;
}

.sub-form {
    display: flex;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.sub-form:hover {
    background-color: #218838;
}

.error-message {
    color: #dc3545;
    font-size: 14px;
}

.necessary {
    color: #dc3545;
}

.autocompletePreview {
    position: absolute;
    left:69.476%;
    width: fit-content;
    box-sizing: border-box;
    color: gray;
    pointer-events: none; /* 마우스 이벤트 무시 */
    font-size: 12px;
    align-content: center;
    letter-spacing: 1px;
}
.paging-option {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.pro-showList{
    display: flex;
    min-height: 400px;
    max-height: fit-content;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.pagination {
    width: 300px;
    display: flex;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    justify-content: center;
}

.page-item {
    display: inline;
}

.page-item a {
    color: #337ab7;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd; /* Light grey border */
    margin: 0 4px; /* Spacing between page links */
}

.page-item a.active {
    background-color: #337ab7;
    color: white;
    border: 1px solid #337ab7;
}

.page-item a:hover:not(.active) {background-color: #ddd;}

.page-link {
    display: inline-block;
    padding: 8px 16px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.page-link:hover {
    background-color: #BDBDBD;
}

.page-link.active {
    background-color: #0277BD;
    color: #fff;
    border-color: #0277BD;
}