@charset "UTF-8";
body{
    margin-top: 80px;
 	font-family: Arial;
    background: #BACDDB;
}

p{
	margin-left: 30px;
}
.userInfo-sec{
    margin-top: 50px;
    height: 170px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    align-items: center;
    margin-left: 21.5%;
    width: 73%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}


.search-form{
	width: 100%;
}

.userInfo-title{
	margin-left: 70px;
	width: 100%;
	margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: left;
}

.userInfo-box{
	align-items: center;
}

.showProList{
    display: flex;
    min-height: 400px;
    max-height: 400px;
    width: 100%;
    flex-direction: column;
    align-items: center;
}


.userInfo-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left: 130px;
    width: 93.7%;
    justify-content: flex-start;
}

.mini-title{
	width: 90px;
	font-size: 17px;
}

.input-info{
	width: 170px;
    display: flex;
    height: 30px;
    text-align: center;
    font-size: 17px;
    background-color: #C9CCD5;
    margin-right: 30px;
}

.userProInfo-sec{
    margin-top: 10px;
    margin-left: 21.5%;
    width: 73%;
    height: 565px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showList{
    display: flex;
    min-height: 200px;
    max-height: 200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}


.showList::-webkit-scrollbar {
    width: 10px;
}

.showList::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
}

.showList::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}


table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white; 

}

.table th, .table td {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ddd; 
}

.table th {
	letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    font-size: 13px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.table td {
    color: #666; 
}

.main th, .main td {
    text-align: center;
    border-bottom: 1px solid #ddd; 
}

.main tr {
    background-color: #FAFAFA; /* 연한 회색 배경 */
    height: 71px;
}

.main tr:hover {
    background-color: #E3EAF2; /* 마우스 오버 시 배경색 변경 */
}

.main th {
	margin-top: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	line-height: 1.5em;
}

.main td {
    color: #666; 
}

.pro-btn{
	display: flex;
    margin-top: 30px;
    width: 400px;
    justify-content: space-around;
}

.match-modify{
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #5F9EA0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.set-modify{
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #00ACC1;
    color: white;
    font-size: 15px;
    cursor: pointer;
    width: 120px;
    height: 30px;
}

.add{
	margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #1976D2;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 120px;
    height: 30px;
}

/* 모달창 */
.add-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: #ECECEC;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 91%;
    display: flex;
    flex-direction: column;
}

.search-box{
	width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.search-title{
	width: 100%;
    margin: 0;
    font-weight: 550;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 10px;
}


.search-item{
	margin-top: 10px;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
	
}

.close {
    width: 100%;
    color: #aaa;
    display: flex;
    font-size: 28px;
    font-weight: bold;
    justify-content: flex-end;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mini-title{
	font-size: 15px;
	width: 100px;
}

.search-item-skill {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.searchButton{
	margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #5F9EA0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 120px;
    height: 30px;
    margin-right: 30px;
}

.resetBtn{
	margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #BDBDBD;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 120px;
    height: 30px;
    margin-right: 30px;
}

input[type=text]{
	width: 120px;
	height: 30px;
}

select {
    width: 100px;
    height: 30px;
}

.search-result{
	margin-top: 15px;
	width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.result-title{
	width: auto;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 550;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}

.result-table{
	width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    background-color: white; 
}

.result-table tr{
	background-color: #d6d8e4a1;
    height: 40px;
}


/* 페이지 버튼 스타일 */
.pagination-main{
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.page-link {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 13px;
    border-radius: 4px;
}

.page-item-active .page-link {
    background-color: #5F9EA0;
    color: white;
    border: 1px solid #5F9EA0;
}

.page-item-disabled .page-link {
    pointer-events: none;
    background-color: #ddd;
    border: 1px solid #ddd;
    color: #666;
}

.add-pro {
    display: flex;
    margin-left: 340px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background: #1976D2;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.delete{
	margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #EF5350;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 120px;
    height: 30px;
}

.main-search th, .main-search td {
    text-align: center;
    border-bottom: 1px solid #ddd; 
}

.main-search tr {
    background-color: #FAFAFA; /* 연한 회색 배경 */
    height: 40px;
}

.main-search tr:hover {
    background-color: #E3EAF2; /* 마우스 오버 시 배경색 변경 */
}

.main-search th {
	margin-top: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	line-height: 1.5em;
}

.main-search td {
    color: #666; 
}

.add-form{
    margin-top: 15px;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
}

.add-title{
    width: auto;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 550;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}

.add-proMain th, .add-proMain td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.add-proMain tr {
    background-color: #FAFAFA; /* 연한 회색 배경 */
    height: 40px;
}

.add-proMain tr:hover {
    background-color: #E3EAF2; /* 마우스 오버 시 배경색 변경 */
}

.add-proMain th {
    margin-top: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    line-height: 1.5em;
}

.add-proMain td {
    color: #666;
}

.delete-all{
    background-color: transparent;
    font-size: 16px;
    border: none;
}

.add-match{
    display: flex;
    margin-left: 340px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background: #45a188;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

input[type="text"]:disabled {
    color: black;
}

